
.etiqueta
  padding: 1px 2px 2px
italic
  font-style: oblique 
.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: $color-sistema-texto


.bg-contenido
  background-image: url(../assets/curso/bg-contenido.png)
  background-repeat: no-repeat
  background-size: 100% 115%
  background-position: center
.bg-acento-contenido2
  background-color: #fff9e5


.lista-ul--color.color-acento-botones li > i:first-of-type
  color: #FE502D


.pasos-a__linea__esquina__linea
  border-radius: 0px
.pasos-a__circle
  width: 65px
  height: 65px
  min-width: 65px
.pasos-a.color-acento-contenido .pasos-a__circle div
  color: $color-sistema-texto  
  font-size: 1.8em

.custom-cardBlock.bloque-texto-g
  justify-content: flex-start !important
.custom-cardBlock .bloque-texto-g__img
  right: 0
  left: auto

.tabs-a.color-acento-contenido .tabs-a__tab__selected
  color: $color-sistema-texto
.tabs-a__tab 
  background-color: #E8E8E8
.tabs-a.color-acento-contenido .tabs-a__tab:hover, .tabs-a.color-acento-contenido .tabs-a__tab:active, .tabs-a.color-acento-contenido .tabs-a__tab:focus
  color: $color-sistema-texto

.bg-tarjeta-flip
  background-color: #2D54FE !important

.bg-white1
  background-color: #FFFFFF !important
  border-top-left-radius: 25%
  border-bottom-left-radius: 25% 
  border-top-right-radius: 50px
  border-bottom-right-radius: 50px
.contenido-120
  height: 120px
.img-infog img 
  width: 130%
  position: absolute
  left: -8%
  max-width: 124%
  bottom: 0%
.img-infog1 img 
  width: 144%
  position: absolute
  left: -10%
  max-width: 145%
  bottom: 0%







// MOBILE
@media (max-width: $bp-max-md)
  .bg-contenido  
    background-color: #FCF6D8 
    background-image: none
  .img-infog1 img, .img-infog img 
    display: none
  .bg-white1
    boder-radius: 15px  